/* ==========================================================================
   Text-clases
   ========================================================================== 
*/

.text-beatiful-red
{
	color: #CC4C43;
}

.text-beatiful-blue
{
	color: #2a03f4;
}

.text-black
{
	color: #000000;
}

.font-pacifico
{
	font-family: 'Pacifico', cursive;
}

.error-text
{
    color: #cc0000;
    font-size : 1.5em;
}

.font-lobster
{
	font-family: 'Lobster', cursive;
}

.text-semi-large
{
	font-size: 1.5em;
}

/* ==========================================================================
   Block-clases
   ========================================================================== 
*/

body
{
	background-color: #ECEBE7;
	font-family: 'Lato', sans-serif;
}

.date
{
	background-color: black;
	color : white;
}

/* ==========================================================================
   Center - Stuffs
   ========================================================================== 
*/

.text-center
{
    text-align: center;
}
.center-block
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
}
.little-text
{
  font-size: 1em;
}


/* ==========================================================================
   Only - Classes
   ========================================================================== 
*/

.text-center-only-small
{
	text-align: center;
}

.visible-only-mobile
{
	display: block;
}

.visible-only-large
{
	display: none;
}

/* ==========================================================================
   Utilities Classes
   ========================================================================== 
*/

.little-padding
{
	padding : 0.5em;
}
.little-margin-top
{
  margin-top: 1.5em;
}

#image
{
  max-width: 250px;
  max-height: 250px;
}

.invisible
{
  display: none !important;
}

.visible
{
  display: block !important;
}

.float-left
{
  float: left;
}

.float-right
{
  float: right;
}

/* ==========================================================================
   Tables
   ========================================================================== 
*/

thead tr:first-child td
{
    background-color: black;
    color: white
}

tbody tr:nth-child(odd)
{
    background-color: #f5f5f5;
    color: black;
}

tbody tr:nth-child(even)
{
    background-color: white;
    color: black;
}



/* ==========================================================================
   Responsive Media Queries
   ========================================================================== 
*/

@media only screen and (min-width: 768px) 
{
    /* For tablets: */

    .text-center-only-small
    {
    	text-align: initial;
    }
    .visible-only-mobile
    {
    	display: none;
    }

}
@media only screen and (min-width: 992px) 
{
    /* For desktop: */
    .visible-only-large
    {
    	display: block;
    }
}
