{% extends "administration_base.html" %}
{% block title %}Nombre {% endblock %}

{% block content %} 
	<div class="content box">
		<h2 class="text-center little-padding">Category Management</h2>
		<div class="group">
			<div class="box">
				<form>
					<div class="centered-form">
						<label class="control-label">Category Name</label>
						<input class="form-control" type="text" id="category_name" name = "category_name">
						<input class="btn btn-default center-block-only-small center-block little-margin-top" type="submit" value="Submit" id="save">
					</div>
					<h3 id="error_empty" class="error-text text-center">{{error}}</h3>
					<h3 id="error_exits" class="error-text text-center">{{error_exits}}</h3>
				</form>
			</div>
		</div>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<thead>
						<tr id="table_columns">
							<td>Name</td>
							<td>Date</td>
							<td>Update</td>
							<td>Delete</td>
						</tr>
					</thead>
					<tbody id="table_data">
						{% for data in category_list %}
							<tr id="data_{{ data.key() }}">
								<td>{{ data.name }}</td>
								<td>{{ data.date }}</td>
								<td><a href="" value="{{ data.key() }}">Update</a></td>
								<td><a id="deleter_{{ data.key() }}" href="javascript:delete_category('{{data.key()}}');" value = "{{ data.key()}}"">Delete</a></td>
							</tr>
						{% endfor %}
					</tbody>
				</thead>
			</table>
		</div>
	</div>

	<script type="text/javascript">
		function insert_category(category_name)
		{
			$.ajax(
			{
				type : "POST",
				url : "/admin_category",
				contentType : "application/json",
				datatype : "json",
				data : JSON.stringify({"category_name" : category_name, "action" : "insert"})
			})
			.done(function(response)
			{
				console.log(response)
				// verifying errors
				if (response["status"] == "error")
				{
					if (("error_exits" in response))
					{
						$("#error_exits").text(response["error_exits"]);
						$("#error_empty").text("");
					}
					if (("error_empty" in response))
					{
						$("#error_empty").text(response["error_empty"]);
						$("#error_exits").text("");
					}
				}	
				else
				{
					var category_key = response["category_entity"]["category_key"];
					var string_html = "<tr id='data_%category_key%'}><td> %category_name% </td><td> %category_date% </td><td><a id='updater_%category_key%'>Update</a></td><td><a id='deleter_%category_key%' href = javascript:delete_category('%category_key%');>Delete</a></td></tr>";
					var category_name = response["category_entity"]["category_name"];
					var category_date = response["category_entity"]["category_date"];
					string_html = string_html.replace("%category_name%", category_name);
					string_html = string_html.replace("%category_date%", category_date);
					// replace all
					string_html = string_html.replace(/%category_key%/g, category_key);
					$("#table_data").prepend(string_html);
					$("#category_name").val("");
					// delete error
					$("#error_exits").text("");
					$("#error_empty").text("");
				}

			})
			.fail(function(textStatus)
			{
				console.log(textStatus);
			});
		}

		function delete_category(category_key)
		{
			$.ajax(
			{
				type : "POST",
				url : "/admin_category",
				contentType : "application/json",
				datatype : "json",
				data : JSON.stringify({"category_key" : category_key, "action" : "delete"})
			})
			.done(function(response)
			{
				console.log(response);
				if(response["status"] == "ok")
				{
					var data_element = "#data_" + response["category_key"];
					var caller_element = "#deleter_" + response["category_key"];
					console.log(caller_element);
					$(data_element).remove();
					// console.log(caller_element);
					$(caller_element).blur();
				}
			})
			.fail(function(textStatus)
			{
				console.log(textStatus);
			});
			
		}

		$(document).ready(function()
		{
			$("#save").click(function(e)
			{
				e.preventDefault();
				category_name = $("#category_name").val();
				insert_category(category_name);
			});
		});

		
	</script>
{% endblock %}