<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/static/css/vendor/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<script type="text/javascript" src="/static/js/vendor/jquery-3.1.0.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js"></script>
</head>
<body>
	<div class="full-container">
		<div class="bg-blue-beatiful full-width little-padding">
			<h2 class="text-white">Administration</h2>
		</div>
		<a class="mobile-menu">&#9776;&nbsp;Menu</a>
		<div class="group">
			<div class="sidebar bg-black">
				<ul id="nav">
					<li><a href="/administration">Dashboard</a></li>
					<li><a href="/administration/category">Category Management</a></li>
					<li><a href="">Friends</a></li>
					<li><a href="">Static</a></li>
					<li><a href="">Stuffs</a></li>
				</ul>
			</div>
			{% block content %}
			{% endblock %}
		</div>
		<script type="text/javascript">
			$(document).ready(function() {
				$(".mobile-menu").click(function()
				{
					$(".sidebar").slideToggle('fast');
				});
			});
		</script>
	</div>
</body>
</html>

	
