{% extends "administration_base.html" %}
{% block title %} Administration {% endblock %}

{% block content %}
	<div class="content box">
		<div class="group">
			<div class="box">
				<h2 class="text-center">DashBoard</h2>
			</div>
			<div class="box">
				<canvas id="myChart" style="width: 50%;"></canvas>
			</div>
		</div>
		<div class="group">
			<div class="box">
				<h2 class="text-center">PostList</h2>
			</div>
		</div>
		<div class="table-responsive">
			<table class="table">
				<thead>
						<tr>
							<td>Subject</td>
							<td>Content</td>
							<td>User</td>
							<td>Date</td>
							<td>Category</td>
							<td>Comments</td>
							<td>Update</td>
							<td>Disable</td>
							<td>Delete</td>
						</tr>
				</thead>
				<tbody>
					{% for data in list_posts %}
						{% if data.status == True %}
							<tr class="good-panel" id="row_{{ data.key().id()}}">
						{% else %}
							<tr class="error-panel" id = "row_{{ data.key().id()}}">
						{% endif %}
							<td>{{ data.subject }}</td>
							<td>{{ data.content }}</td>
							<td>{{ data.user.username }}</td>
							<td>{{ data.date }}</td>
							<td>{{ data.category.name }}</td>
							<td class="text-center"><a href="/administration/comment_list/{{data.key().id()}}"><img src="/static/images/comment-icon.png"></a></td>
							<td class="text-center"><a href="/newpost?p={{data.key().id()}}"><img src="/static/images/update-icon.png"></a></td>
							{% if data.status == True %}
								<td class="text-center"><a href="javascript:enable_disable_ajax('{{data.key().id()}}');" id="{{data.key().id()}}" value="{{data.key().id()}}" class="error-text little-text"><img src="/static/images/disable-icon.png" id="enable_disable_img_{{data.key().id()}}"></a></td>
							{% else %}
								<td class="text-center"><a href="javascript:enable_disable_ajax('{{data.key().id()}}');" id="{{data.key().id()}}" value="{{data.key().id()}}"><img src="/static/images/enable-icon.png" id="enable_disable_img_{{data.key().id()}}"></a></td>
							{% endif %}
							<td class="text-center"><a href="javascript:delete_post('{{data.key().id()}}')" id="delete_link_{{ data.key().id()}}"><img src="/static/images/close-icon.png"></a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<!-- Edit Post Modal -->
		<div id="update_comment_modal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal Content -->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title text-center">Edit Post</h4>
					</div>
					<div class="modal-body">
						<form>
							<div class="centered-form">
								<label class="control-label">Subject</label>
								<h3 id="update_subject_error" class="error-text text-center"></h3>
								<input class="form-control" type="text" id="text_update_subject">
								<label class="control-label">Content</label>
								<h3 id="update_content_error" class="error-text text-center"></h3>
								<textarea class="form-control" id="text_update_content"></textarea>
								<input class="btn btn-default center-block-only-small center-block little-margin-top" type="submit" value="Submit" id="update_button">
								<h3>Category</h3>
								
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button id="close_updater_modal" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="/static/js/administration.js"></script>
	<script type="text/javascript">
		/* function to get keys and values from a json sended by the server */
		function get_keys(json_data)
		{
			keys = []
			values = []
			for(data in json_data)
			{
				// if the category is not empty 
				if (json_data[data] > 0) 
				{
					keys.push(data)
					values.push(json_data[data]);
				} 
			}	
			return [keys, values];
		}
		/* getting data from the server to the chart **/
		var data_keys;
		var data;
		data_keys = get_keys({{data_json | safe}})[0];
		data = get_keys({{data_json | safe}})[1];
		var ctx = document.getElementById("myChart");
		var myChart = new Chart(ctx, {
		type: 'bar',
		data: {
		/* pass the data as a json */
		labels:  data_keys,
		datasets: [{
		    label: '# Post by Topic',
		    data: data,
		    scaleOverride: true,
		scaleStepWidth: 1,
		scaleStartValue: 0,
		showLegend: true,
		    backgroundColor: [
		        'rgba(255, 99, 132, 0.2)',
		        'rgba(54, 162, 235, 0.2)',
		        'rgba(255, 206, 86, 0.2)',
		        'rgba(75, 192, 192, 0.2)',
		        'rgba(153, 102, 255, 0.2)',
		        'rgba(255, 159, 64, 0.2)'
		    ],
		    borderColor: [
		        'rgba(255,99,132,1)',
		        'rgba(54, 162, 235, 1)',
		        'rgba(255, 206, 86, 1)',
		        'rgba(75, 192, 192, 1)',
		        'rgba(153, 102, 255, 1)',
		        'rgba(255, 159, 64, 1)'
		    ],
		    borderWidth: 1
		}]
		},
		options: {
		responsive : true,
		scales: {
		    yAxes: [{
		        ticks: {
		            beginAtZero:true
		        }
		    }]
		}
		}
		});
	</script>

{% endblock %}
