{% extends "base.html" %}
{% block title %} Admin Panel {% endblock %}

{% block content %}
	<div class="row">
		<h1 class="text-center">Administration</h1>
		<div class="col-xs-12">
			<canvas id="myChart"></canvas>
		</div>
	</div>
	<script type="text/javascript">
		/* function to get keys from a json */
		function get_keys(json_data)
		{
			keys = []
			for(data in json_data)
			{
				keys.push(data)
			}
			console.log(keys);
			return keys
		}
		var ctx = document.getElementById("myChart");
		var myChart = new Chart(ctx, {
		type: 'bar',
		data: {
			/* pass the data as a json */
		    labels: get_keys({{data_json | safe}}) ,
		    datasets: [{
		        label: '# Post by Topic',
		        data: {{data_numbers}},
		        backgroundColor: [
		            'rgba(255, 99, 132, 0.2)',
		            'rgba(54, 162, 235, 0.2)',
		            'rgba(255, 206, 86, 0.2)',
		            'rgba(75, 192, 192, 0.2)',
		            'rgba(153, 102, 255, 0.2)',
		            'rgba(255, 159, 64, 0.2)'
		        ],
		        borderColor: [
		            'rgba(255,99,132,1)',
		            'rgba(54, 162, 235, 1)',
		            'rgba(255, 206, 86, 1)',
		            'rgba(75, 192, 192, 1)',
		            'rgba(153, 102, 255, 1)',
		            'rgba(255, 159, 64, 1)'
		        ],
		        borderWidth: 1,
		    }]
		},
		options: {
			responsive : true,
		    scales: {
		        yAxes: [{
		            ticks: {
		                beginAtZero:true
		            }
		        }]
		    }
		}
		});
	</script>
	

{% endblock %}