<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="/static/css/vendor/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<script type="text/javascript" src="/static/js/vendor/jquery-3.1.0.js"></script>
	<script type="text/javascript" src="/static/js/script.js"></script>
</head>
<body>
	<div class="container">
		<div class="row header">
			<div class="col-md-12">
				<h1 class="text-center font-pacifico">Ninja- Blog</h1>
			</div>	
		</div>
		{% block content %}
		{% endblock %}

		<div class="row header">
			<div class="col-md-12">
				<h2 class="text-center">Coded By Ninjas</h2>
			</div>
		</div>
	</div>
</body>
</html>