<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="text-center font-pacifico">Blog</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-md-1 date text-center visible-only-large">
				<p>Sept</p>
				<p>19</p>
			</div>
			<div class="col-md-10">
				<h1 class="text-beatiful-red font-lobster">Twitter Goes Public: 21 Things You Should Know</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<p class="font-pacifico text-semi-large text-center-only-small" >Written by Jean Ure&ntilde;a</p>
			</div>
			<div class="col-sm-6">
				<p class="text-semi-large text-beatiful-blue text-center-only-small">Topic : <span class="text-black">Tecnology</span></p>
			</div>	
		</div>
		<div class="row">
			<div class="col-md-12">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ligula nisl, feugiat in tortor in, lacinia suscipit justo. Donec tortor nulla, condimentum id fringilla eget, elementum eget elit. Etiam fermentum et turpis quis scelerisque. Nullam leo nisl, facilisis nec purus vitae, efficitur consectetur ex. Praesent aliquam posuere massa, elementum maximus nisl imperdiet vitae. Quisque auctor imperdiet justo, at mattis arcu. Duis egestas aliquam quam non tempor. Cras ornare, ante in cursus vulputate, neque neque elementum elit, id sodales nibh eros sit amet massa. In mattis mattis malesuada. In aliquam orci in diam sagittis molestie. Praesent placerat dignissim odio ut aliquam. Suspendisse potenti. Donec pellentesque tellus eu diam varius, quis lacinia dolor posuere. Donec eu dui sit amet elit iaculis vehicula id sit amet dui. Curabitur tincidunt metus elit, quis varius turpis egestas quis. Phasellus eu venenatis nisl.</p>
			</div>
		</div>
		
	</div>
</body>
</html>

