{% extends "base.html" %}
{% block title %} Main {% endblock %}
{% block content %}
	<div class="row">
		<div class="col-xs-12">
			<h4 class="text-center">Buscar Por : </h4>
			<select class="center-block" id="category_chooser">
				{% for category in list_categories %}
					<option value="{{ category.key().id() }}">{{ category.name }}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	<div id="post">
		{% for p in lista_post %}
			<div class="row" id="blog-header">
				<div class="col-md-1 date text-center visible-only-large">
					<p>{{ p.date }}</p>
				</div>
				<div class="col-md-10">
					<h1 class="text-beatiful-red font-lobster">{{ p.subject }}</h1>
				</div>
			</div>

			<div class="row" id="blog-data">
				<div class="col-sm-6">
					<p class="font-pacifico text-semi-large text-center-only-small" >Written By {{ p.user.username }}</p>
				</div>
				<div class="col-sm-6">
					<p class="text-semi-large text-beatiful-blue text-center-only-small">Category : <span class="text-black">{{ p.category.name }}</span></p>
				</div>	
			</div>

			<div class="row" id="blog-content">
				<div class="col-md-12">
					<p>{{ p.content }}</p>
				</div>
			</div>
			<!--<span style="position : absolute; bottom : 0; color : red; font-size : 1.5em;">{{ QUERIED }}</span> -->
			<div class="row">
				<div class="col-md-12">
					<div style="width : 50%; margin: 0 auto; text-align: center;">
						<a id="like_caller_{{ p.key().id() }}" href="javascript:like_ajax('{{p.key().id()}}');">Like<span id="likes_counter" class="little-padding">({{ p.likes }})</span></a>
						<a id="dislike_caller_{{ p.key().id() }}" href="javascript:dislike_ajax('{{p.key().id()}}');">Dislike<span id="dislikes_counter" class="little-padding">({{ p.dislikes }})</span></a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<script type="text/javascript" src="/static/js/index.js"></script>
{% endblock %}

