{% extends "base.html" %}
{% block title %} Main {% endblock %}
{% block content %}
	<div class="row">
		<div class="col-xs-12">
			<h4 class="text-center">Buscar Por : </h4>
			<select class="center-block" id="category_chooser">
				{% for category in list_categories %}
					<option value="{{ category.key().id() }}">{{ category.name }}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	<div id="post">
		{% for p in lista_post %}
			<div class="row" id="blog-header">
				<div class="col-md-1 date text-center visible-only-large">
					<p>{{ p.date }}</p>
				</div>
				<div class="col-md-10">
					<h1 class="text-beatiful-red font-lobster">{{ p.subject }}</h1>
				</div>
			</div>

			<div class="row" id="blog-data">
				<div class="col-sm-6">
					<p class="font-pacifico text-semi-large text-center-only-small" >Written By {{ p.user.username }}</p>
				</div>
				<div class="col-sm-6">
					<p class="text-semi-large text-beatiful-blue text-center-only-small">Category : <span class="text-black">{{ p.category.name }}</span></p>
				</div>	
			</div>

			<div class="row" id="blog-content">
				<div class="col-md-12">
					<p>{{ p.content }}</p>
				</div>
			</div>
			<!--<span style="position : absolute; bottom : 0; color : red; font-size : 1.5em;">{{ QUERIED }}</span> -->
			<div class="row">
				<div class="col-md-12">
					<div style="width : 50%; margin: 0 auto; text-align: center;">
						<a id="like_caller_{{ p.key().id() }}" href="javascript:like_ajax('{{p.key().id()}}');">Like<span id="likes_counter" class="little-padding">({{ p.likes }})</span></a>
						<a id="dislike_caller_{{ p.key().id() }}" href="javascript:dislike_ajax('{{p.key().id()}}');">Dislike<span id="dislikes_counter" class="little-padding">({{ p.dislikes }})</span></a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<script type="text/javascript">
		function post_by_category_ajax(category_id)
		{
			/* ajax request to get the post by category to use on change select */
			$.ajax
				({
				type : "POST",
				url : "/post_categorizer",
				contentType : "application/json",
				datatype : "json",
				// send json to the server
				data : JSON.stringify({"category_id" : category_id})
			})
			.done(function(json)
			{
				// console.log(json["data"]);
				//render data in ther server
				$("#post").remove();
				/* updating data */
				var blog_header = '<div class="row" id="blog-header"></div>';
				var blog_data = '<div class="row" id="blog-data"></div>';
				var blog_content = '<div class="row" id="blog-content"></div>';
				var end_div = '</div>';
				var date_content = "<div class='col-md-1 date text-center visible-only-large'><p>%data%</p></div>";
				var subject_content = "<div class='col-md-10'><h1 class='text-beatiful-red font-lobster'>%data%</h1></div>";
				var username_content = '<div class="col-sm-6"><p class="font-pacifico text-semi-large text-center-only-small" >Written By %data%</p></div>';
				var category_content = '<div class="col-sm-6"><p class="text-semi-large text-beatiful-blue text-center-only-small">Category : <span class="text-black">%data%</span></p>';
				var content_content = '<div class="col-md-12"><p>%data%</p></div>';
				var noresult = '<div class="row"><div class="col-md-12 error-text text-center"><h1>There are not Post with this category</h1></div></div>'; 
				$(".container").append("<div id='post'></div>");
				if(json["data"].length > 0)
				{
					for(var i = 0; i < json["data"].length; i++)
					{
					$("#post").append(blog_header);
					$("#post").append(blog_data);
					$("#post").append(blog_content);
					$("#blog-header").append(date_content.replace("%data%", json["data"][i]["date"]));
					$("#blog-header").append(subject_content.replace("%data%", json["data"][i]["subject"]));
					$("#blog-data").append(username_content.replace("%data%", json["data"][i]["username"]));
					$("#blog-data").append(category_content.replace("%data%", json["data"][i]["category"]["name"]));
					$("#blog-content").append(content_content.replace("%data%", json["data"][i]["content"]));
					}
				}
				else
				{
					$("#post").append(noresult);
				}
			})
			.fail(function(xhr, textStatus)
			{
				console.log(textStatus);
			});
		}
		
		function like_ajax(post_id)
		{
			console.log(post_id)
			$.ajax(
			{
				type : "POST",
				url : "/post_sensation",
				contentType : "application/json",
				datatype : "json",
				// data sent to the server
				data : JSON.stringify({"post_id" : post_id, "action_type" : "like"})

			})
			.done(function(response)
			{
				if(response["status"] == "ok")
				{
					$("#likes_counter").text(response["likes"])
				}
				// quit focus
				like_link = "#like_caller_" + response["post_id"];
				$(like_link).blur();
				console.log(response);
			})
			.fail(function(textStatus)
			{
				console.log(textStatus);
			});
		}


		// dislikes stuffs
		function dislike_ajax(post_id)
		{
			console.log(post_id)
			$.ajax(
			{
				type : "POST",
				url : "/post_sensation",
				contentType : "application/json",
				datatype : "json",
				// data sent to the server
				data : JSON.stringify({"post_id" : post_id, "action_type" : "dislike"})

			})
			.done(function(response)
			{
				if(response["status"] == "ok")
				{
					$("#dislikes_counter").text(response["dislikes"]);
					// quit focus on link
					var dislike_link = "#dislike_caller_" + response["post_id"];
					console.log(dislike_link);
					$(dislike_link).blur();
				}
				console.log(response);
			})
			.fail(function(textStatus)
			{
				console.log(textStatus);
			});
		}

		$(document).ready()
		{
			$("#category_chooser").change(function()
			{
				var category_id = $(this).find("option:selected").val();
				post_by_category_ajax(category_id);
			});

			// $("#like_caller").click(function()
			// {
			// 	var post_id = $(this).val();
			// 	like_ajax(post_id);
			// });
		}
	</script>
{% endblock %}

