{% extends "base.html" %}
{% block title %} New Post {% endblock %}

{% block content %}

	<div class="row">
		<div class="col-xs-12 col-md-7 center-block">
			<form method="post">
				<div class="form-group">
					<label>Subject</label>
					<input type="text" name="subject" class="form-control" placeholder="subject" value = "{{ subject }}">
				</div>
				<div class="form-group">
					<label>Content</label>
					<textarea id="post_content" class="form-control" name = "content">{{ content }}</textarea>
					<script>
            			CKEDITOR.replace( 'content' );
        			</script>
				</div>
				<div class="row">
					<div class="col-xs-4">
						<label class="visible">Category</label>
						<select name="category" id="category" class="form-control">
							{% for category_entity in category_list %}
								<!-- put default category if it has been taken -->
								{% if category_entity.name == category.name %}
									<option value="{{ category_entity.key().id() }}" selected>{{ category_entity.name }}</option>
								{% else %}
									<option value="{{ category_entity.key().id() }}">{{ category_entity.name }}</option>
								{% endif %}
							{% endfor %}
							<option value="other">other</option>
						</select>
					</div>
					<div class="col-xs-8 invisible" id="new_category">
						<label class="visible">New Category</label>
						<input id="new_category_text" type="" name="new_category">
					</div>
				</div>
				<div class="row little-margin-top">
					<div class="col-md-12">
						<input id="btn-submit-post" type="submit" name="" class="btn btn-default center-block">
					</div>
				</div>
				<h2 class="text-center error-text">{{ error }}</h2>
			</form>
		</div>
	</div>
	<script type="text/javascript" src="/static/js/newpost.js"></script>
{% endblock %}