{% extends "base.html" %}
{% block title %} Permalink {% endblock %}
{% block content %}
	<div class="row">
		<div class="col-md-1 date text-center visible-only-large">
			<p>Sept</p>
			<p>19</p>
		</div>
		<div class="col-md-10">
			<h1 class="text-beatiful-red font-lobster">{{ p.subject }}</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<p class="font-pacifico text-semi-large text-center-only-small" >Written by {{ p.user.username }}</p>
		</div>
		<div class="col-sm-6">
			<p class="text-semi-large text-beatiful-blue text-center-only-small">Topic : <span class="text-black">{{ p.category.name }}</span></p>
		</div>	
	</div>

	<div class="row">
		<div class="col-md-12">
			<p>{{ p.content }}</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1">
			<img src=" http://placehold.it/100x100">
		</div>
		<div class="col-md-11">
			<h4>Jean Ure&ntilde;a <span class="text-light little-margin-left size-minus-one"> August 25, 2014 at 9:30 PM</span></h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed velit lacus, maximus sit amet elit eget, tristique tempor eros. Aenean porta pellentesque mi, sed mollis diam ultricies ac. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus dictum, mi nec posuere ullamcorper, mi orci posuere ante, ac rhoncus magna mauris et mi. Vestibulum porta, urna quis scelerisque lacinia, velit mauris pretium sem, a scelerisque magna lectus dignissim nulla. Morbi aliquam velit at commodo consectetur. Morbi malesuada felis turpis, vitae vulputate mi pulvinar vel. Aenean quis luctus erat. Nam porttitor urna eu mauris sollicitudin scelerisque. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-1">
			<img src=" http://placehold.it/100x100">
		</div>
		<div class="col-md-11">
			<h4>Juan Javier <span class="text-light little-margin-left size-minus-one"> November 25, 2014 at 9:30 PM</span></h4>
			<p>Nulla facilisi. Pellentesque ut nunc venenatis, semper est sed, mattis risus. Proin posuere, massa varius dictum dignissim, odio mauris tincidunt odio, vitae eleifend lacus massa ut lacus. Donec tincidunt maximus mi, ac commodo mauris bibendum non. Aenean id massa id mauris aliquet dapibus. Praesent tincidunt facilisis neque eget eleifend. Ut porttitor pharetra ex, sed ultrices nulla vehicula quis. Vestibulum dui est, ullamcorper a iaculis eget, venenatis in nisi. Quisque ultrices pulvinar leo at maximus. In in sagittis ante.</p>
		</div>
	</div>

	<!-- <span style="position : absolute; bottom : 0; color : red; font-size : 1.5em;" class="fixed">{{ QUERIED }}</span> -->
{% endblock %}