{% extends "base.html" %}
{% block title %} Permalink {% endblock %}
{% block content %}
	<div class="row">
		<div class="col-md-1 date text-center visible-only-large">
			<p>Sept</p>
			<p>19</p>
		</div>
		<div class="col-md-10">
			<h1 class="text-beatiful-red font-lobster">{{ p.subject }}</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<p class="font-pacifico text-semi-large text-center-only-small" >Written by {{ p.user.username }}</p>
		</div>
		<div class="col-sm-6">
			<p class="text-semi-large text-beatiful-blue text-center-only-small">Topic : <span class="text-black">{{ p.category.name }}</span></p>
		</div>	
	</div>

	<div class="row">
		<div class="col-md-12">
			<p>{{ p.content }}</p>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<h3>Leave a Comment</h3>
			<div class="my-well">
				<form>
					<div class="form-group">
						<label>Subject</label>
						<input type="text" name="subject" id="subject" class="form-control">
					</div>
					<div class="form-group">
						<label>Comment</label>
						<textarea rows="5" class="form-control" id="content" name="content"></textarea>
					</div>
					<button type="submit" class="btn btn-primary" id="btn_submit_comment" data-post-id = "{{ p.key().id() }}">Submit</button>
				</form>
			</div>
		</div>	
	</div>
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-info">Comments</h3>
		</div>
	</div>
	<div id="comment-container">
		{% for comment in comments %}
			<div class="well">
				<div class="row little-padding">
					<div class="col-md-1">
						<img src="/img_serve/{{comment.user.key().id()}}">
					</div>
					<div class="col-md-11">
						<h4>{{ comment.user.username }} <span class="text-light little-margin-left size-minus-one"> {{ comment.date }} </span></h4>
						<p>{{ comment.content}}</p>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

	<!-- <span style="position : absolute; bottom : 0; color : red; font-size : 1.5em;" class="fixed">{{ QUERIED }}</span> -->

	<script type="text/javascript">
		function insert_comment(post_id, subject, content)
		{
			$.ajax(
			{
				type : "POST",
				url : "/" + post_id,
				contentType : "application/json",
				datatype : "json",
				data : JSON.stringify({"subject" : subject, "content" : content, "action" : "insert"})
			})
			.done(function(response)
			{
				var string_html = "<div class='well'><div class='row little-padding'><div class='col-md-1'><img src='/img_serve/%user_id%'></div><div class='col-md-11'><h4>%user_name% <span class='text-light little-margin-left size-minus-one'>%date% </span></h4><p>%content%</p></div></div></div>";
				string_html = string_html.replace("%user_id%", response["data"]["user_id"]);
				string_html = string_html.replace("%user_name%", response["data"]["username"]);
				string_html = string_html.replace("%date%", response["data"]["date"]);
				string_html = string_html.replace("%content%", response["data"]["content"]);
				$("#comment-container").prepend(string_html);
				$("#subject").val('')
				$("#content").val('')
				console.log(response);

			})
			.fail(function(textStatus)
			{
				console.log(textStatus);
			})
		}

		$(document).ready(function()
		{
			$("#btn_submit_comment").click(function(e)
			{
				e.preventDefault();
				var subject = $("#subject").val();
				var content = $("#content").val();
				var post_id = $("#btn_submit_comment").data("post-id");
				insert_comment(post_id, subject, content);
			});

		});
	</script>
{% endblock %}